---
import LessonMenu from "../components/LessonMenu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Taller de Tailwind CSS">
  <h1 class="text-3xl font-bold text-center">
    Taller de Tailwind CSS en Web Reactiva
  </h1>
  <LessonMenu />

  <div class="flex justify-center mt-8">
    <img src="https://c.tenor.com/gTg8ZSZMR6YAAAAC/tenor.gif" />
  </div>
</Layout>
