<div class="live-code-layout">
  <div class="example-container-custom">
    <div>
      <slot name="example" />
    </div>
  </div>
  <slot name="code" />
</div>

<style>
  .live-code-layout {
    display: flex;
    flex-direction: column;
  }

  .example-container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background: #f9f7f7;
    border-style: solid;
    border-width: var(--ec-brdWd, 1px);
    border-color: var(--ec-brdCol, var(--sl-color-gray-5));
    border-bottom: none;
  }
</style>
