---
import "../styles/tailwind.css";
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/themes/prism-tomorrow.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://webreactiva.com/images/favicon-webreactiva.png"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="https://webreactiva.com/images/favicon-webreactiva-negativo.png"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />
  </head>

  <body class="bg-gray-300">
    <div class="container mx-auto py-8">
      <slot />
    </div>
    <footer class="bg-yellow-400 text-center py-2 fixed bottom-0 w-full">
      <p class="text-black font-bold">
        Taller de TailwindCSS con cariño para la <a
          class="underline"
          href="https://webreactiva.com"
          target="_blank">Comunidad Malandriner</a
        > 🧡
      </p>
    </footer>
  </body>
</html>
