---
// Props para recibir el título y los children
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-300">
    <div class="container mx-auto py-8">
      <slot />
    </div>
    <footer class="bg-yellow-400 text-center py-2 fixed bottom-0 w-full">
      <p class="text-black font-bold">
        Taller de TailwindCSS con cariño para la Comunidad Malandriner 🧡
      </p>
    </footer>
  </body>
</html>
